
/*index*/

/*motorcycle page 1*/
.title-Container-Mpg1 {
  height: 500px;
  background-color: black;
  position: absolute;
}
#font-Info{
    padding-top: 35px;
    font-size: 40px;
    font-family: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium",
    "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
    font-weight:500;
}
#font-Title-scale{
    font-size: 50px;
    text-align: center;
    font-family: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium",
    "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
    font-weight:500;
}
#imgscale{
    width: 800px;
    height: 500px;
}

.title-background {
  height: 100%;
  width: 100%;
}
.title-background img {
  width: 100%;
  height: 100%;
  opacity: 30%;
}
#navbarNav {
  justify-content: space-evenly;
}
.navbar-nav {
  font-weight: bold;
  gap: 500px;
  font-size: 30px;
}
.title-text-box {
  position: absolute;
  margin-top: 150px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-text-box h1 {
  color: white;
  font-size: 80px;
  font-family: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium",
    "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
}
.moto1-container{
    margin-top: 383px;
    height: 850px;
}
hr{
    background-color: black;
    width: 100%;
    height: 3px;
}
#Ducati-items{
    padding-left: 50px ;
}
.moto-2-description h2{
    padding-top: 35px;
}
#Kawasaki-row{
    padding-left: 10px;
}
#moto4-row{
    padding-left: 15px;
}
.moto-6-Container{
    margin-top: 383px;
}
#indian-chief-row{
    padding-left: 30px;
}
.btn-Design{
    border: none;
    background-color: #b5b5b5;
    height: 71px;
    width: 109px;
    font-size: 35px;
}
